<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
      #header
      {
      
       height: 50px;;
         width: 100;
         background-color:black;
         text-decoration: none;
      }
      #middlepart1
        {
            height: 600px;
            width: 100%;
            background-image:url("/static/image/reg.jpg") ;
            background-repeat: no-repeat;
           background-color:white;
           margin-left:auto;
        }
    </style>
</head>
<body>
  <div id="header">
  <a href="dash"><font color="white" font size="3">HOME</font></a>
  <a href="login"><font color="white" font size="4">login</font></a></pre>
  </div>

  <div id="middlepart1">
    <center>
    <font color="black" font size="5">
        <strong>Registration Form Here</strong>
      <form action=" " method="post">
          {% csrf_token %}
          
          <pre>
             Email:<input type="email" name="email" placeholder="enter email" required/><br><br>
          Password:<input type="password" name="password" placeholder="enter password" required/><br><br>
             Mobile:<input type="number" name="mobile" placeholder="enter mobileno" required/><br><br>
        Technology:<input type="text" name="technology" placeholder="enter technology" required/><br><br>
     Candidatetype:<input type="radio" name="type" value=" Freshar"/>Freshar<input type="radio" name="type" value="experince"/>experince
     <br><br>
    Higereducation:<select name="education">
        {% for d in data %}
        <option value="{{d}}">{{d}}</option>
        {% endfor %}
        </select>
        <br><br>
      
  Passingyear:  From <input type="date" name="applydate" placeholder=" enter date" />
      <br><br>
                      <input type="submit"name="btnsubmit" value="submit"/>
      </pre>
     </font>
  </form>
</div>
</center>
</body>
</html>