<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="cyan">
 <center><a href="job"><font color="black" font size="4">viwejob</font></a></pre> 
   <h1>Creat Your Cv</h1></center>
    <form action="resume" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
        Name:<input type="text" name="txt1" placeholder="name" required/><br><br>
        Gender:<input type="text" name="txt2" placeholder="gender" required/><br><br>
        Locality:<input type="text" name="txt3" placeholder="locality" required/><br><br>
        City:<input type="text" name="txt4" placeholder="city"required /><br><br>
        Postal Code:<input type="text" name="txt5" placeholder="pin" required/><br><br>
         State:<select name="txt6">
            {% for c in res %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         <br><br>
        Mobileno:<input type="text" name="txt7" placeholder="mobile no" required/><br><br>
        Email:<input type="email" name="txt8" placeholder="email" required/><br><br>
        job city:<input type="text" name="txt9" placeholder="job_city" required/><br><br>
        Address:<input type="text" name="txt10" placeholder="Address" required/><br><br>
        linkedin url:<input type="text" name="txt11" placeholder="linkedin" required/><br><br>
        Objective:<input type="text" name="txt12" placeholder="Objective" required/><br><br>
        Workexperience:<input type="text" name="txt13" placeholder="Workexperience" required/><br><br>
    </td>
    <td>
        EDUCATION QUALIFICATION<br>
        Hsc:<select name="txt22">
            {% for c in c1 %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         subject<select name="txt23">
            {% for c in b %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Passingyear<select name="txt24">
            {% for c in y %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         percentage<input type="text" name="txt14" placeholder="percentage" required/>
         univercity<input type="text" name="txt37" placeholder="univercity" required/><br><br>
         12th/Diploma:<select name="txt25">
            {% for c in c1 %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
        Branch <select name="txt26">
            {% for c in b %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Passingyear<select name="txt27">
            {% for c in y %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         percentage<input type="text" name="txt28" placeholder="percentage" required/>
         univercity<input type="text" name="txt38" placeholder="univercity" required/><br><br>
        Degree: <select name="txt29">
            {% for c in c1 %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Branch:<select name="txt30">
            {% for c in b %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Passingyear:<select name="txt31">
            {% for c in y %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Percentage<input type="text" name="txt32" placeholder="percentage" required/>
         univercity<input type="text" name="txt39" placeholder="univercity" required/><br><br>
        Postgraduation:<select name="txt33">
            {% for c in c1 %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Branch:<select name="txt34">
            {% for c in b %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
         Passingyear:<select name="txt35">
            {% for c in y %}
              {% if c == d %}
              <option value="{{c}}" selected>{{c}}</option>
              {% else %} 
              <option value="{{c}}">{{c}}</option>
              {% endif %}
            {% endfor %} 
         </select>
        percentage<input type="text" name="txt36" placeholder="percentage" required/>
        univercity<input type="text" name="txt40" placeholder="univercity" required/><br><br>
        IT SKILLS:<input type="text" name="txt21" placeholder="ITSKILLS" required/><br><br>
        PROJECTS:<input type="text" name="txt15" placeholder="PROJECTS" required/><br><br>
        TRAININGS:<input type="text" name="txt16" placeholder="TRAININGS" required/><br><br>
        HOBBIES & INTEREST:<input type="text" name="txt17" placeholder="HOBBIESINTEREST" required/><br><br>
        DECLARATION:<input type="text" name="txt18" placeholder="DECLARATION" required/><br><br>
        Date:<input type="text" name="txt19" placeholder="Date" required/><br><br>
        sname:<input type="text" name="txt20" placeholder="sname" required/><br><br>
        <input type="submit"name="btnsubmit" value="upload"/>
        <br><br>
        </td>
    </tr>
    </form>  
    
</body>
</html>